@page
@model FTSDesignersV1.Pages.SignupModel
@{
    ViewData["Title"] = "Giris";
}




<form class="mt-5" method="post">
    <div class="row">
        <div class="col mt-5">
            <input type="text" class="form-control" placeholder="Ad" required>
        </div>
        <div class="col mt-5">
            <input type="text" class="form-control" placeholder="Soyad" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Kaydol</button>
</form>
<br />
<br />

